<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mountain</title>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">#}
{#    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">is_active</script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>#}
</head>
<body>


<div>
    <ul>
        {% if request.user.is_authenticated %}
            you login as: {{ user.username }} <br>
            Your discount: {{ user.discount }}% <br>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>

        {% else %}
            <li><a href="{% url 'registration' %}">Registrate new acc</a></li>
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>
</div>



<div class="container">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>