{% extends "base.html" %}

{% block content %}
    <p>Home page</p>
    Search:
    <form action="{% url 'home' %}" method="GET">
        {{ search_form }}
        <input type="submit" value="search">
    </form>
    <br>

    ---------------------------------------------------<br>
    ---- Your Cart ---- <br>
    {% if cart %}
        {% for item in cart %}
            {% for key, val in item.items %}
                product name : {{ key.title }}, price: {{ key.price }} grn, quantity: {{ val }} <br>
            {% endfor %}
        {% endfor %}
        <a href="{% url 'cart' %}">Go to cart</a> <br>
    {% else %}
        your cart is empty<br>
    {% endif %}
---------------------------------------------------<br>
    <br>
    
    {% for product in products %}
        product name: {{ product.title }} <br>
        price: {{ product.price }} grn<br>
        image: <img src="{{ product.image.url }}" width="150" alt="">  <br>
        <a href="{% url 'single_product' product_id=product.id %}">More information</a>

        <br>
        <form class="input-field inline" action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="add to cart" name="add_to_cart">
            <input type="hidden" name="product_id" value="{{ product.id }}">
        </form>
        <hr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">

            {% if products.has_previous %}
                <a href="?page=1"><<<--first</a>
                <a href="?page={{ products.previous_page_number }}"><-previous</a>
            {% endif %}

            {% for page_num in paginator_gen_list %}
                {% if page_num != "..." %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next-></a>
                <a href="?page={{ last_page }}">last page --->></a>
            {% endif %}

        </span>
    </div>
{% endblock content %}
